{{ block title }}
Proposer Decision
{{ endblock }}

{{ block styles }}
<link rel="stylesheet" href="{{ static 'trust_game/global.css' }}">
{{ endblock }}

{{ block content }}
{{ include_sibling 'InstructionsButton.html' }}
<div class="trust-meta">
  {{ if is_practice }}
    <span>Practice round {{ player.round_in_period }} of {{ C.PRACTICE_ROUNDS }}</span>
  {{ else }}
    <span>Period {{ player.period_number }} of {{ C.PERIODS }}</span>
    <span>Round {{ player.round_in_period }} of {{ C.ROUNDS_PER_PERIOD }}</span>
  {{ endif }}
</div>

{{ if is_practice }}
  <div class="trust-panel practice-note">
    <p>This practice round is for learning only and cannot be selected for payoff.</p>
  </div>
{{ endif }}

{{ include_sibling 'PlayerPairCards.html' }}

<div class="trust-panel">
  <p>
    You have 20 points. Choose how many whole points to send to the responder.
    The points you send will be multiplied by either {{ low_multiplier }} or
    {{ high_multiplier }}. You will not be told which multiplier applies to this
    round while making this decision.
  </p>
  <p class="formula-line">
    \[
      \text{your payoff for the round}
      =
      20
      -
      \text{points you send}
      +
      \text{points the responder sends back to you}
    \]
  </p>
</div>

{{ formfields }}
{{ next_button }}
{{ endblock }}
