{{ block title }}
{{ if is_self_survey }}Part {{ self_survey_part_number }}: About You{{ else }}Part 3: Partner Questions{{ endif }}
{{ endblock }}
{{ block styles }}<link rel="stylesheet" href="{{ static 'trust_game/global.css' }}">{{ endblock }}
{{ block content }}
{{ include_sibling 'InstructionsButton.html' }}
<div class="trust-panel">
  {{ if is_self_survey }}
    {{ if is_pre_game_self_survey }}
      <ul>
        <li>The experiment has {{ total_experiment_parts }} parts.</li>
        <li>You will receive instructions for each part after the previous part is completed.</li>
        <li>In Part 1, you will answer demographic questions about yourself.</li>
        <li>For any demographic question, you may select "Prefer not to say" if you do not wish to provide a response.</li>
        <li>Your answers in Part 1 may be used in Part 2 to identify you to participants you are matched with.</li>
        <li>After Part 1 is completed, you will receive the instructions for Part 2.</li>
      </ul>
    {{ else }}
      <ul>
        <li>You have completed Part 1.</li>
        <li>You will now receive the instructions for Part 2.</li>
        <li>In Part 2, you will answer demographic questions about yourself.</li>
        <li>For any demographic question, you may select "Prefer not to say" if you do not wish to provide a response.</li>
      {{ if picture_condition }}
        <li>After Part 2 is completed, you will receive the instructions for Part 3.</li>
      {{ endif }}
      </ul>
    {{ endif }}
  {{ else }}
    <ul>
      <li>You have completed Part 2.</li>
      <li>You will now receive the instructions for Part 3.</li>
      <li>In Part 3, you will answer questions about the participants with whom you were matched.</li>
      <li>Your answers will not affect your payoff from the game in any way.</li>
      <li>Your responses are confidential and will be used solely for research purposes.</li>
    </ul>
  {{ endif }}
</div>
{{ next_button }}
{{ endblock }}
